*.swp
.idea/*
*.iml
*.props
*.properties
!src/main/environment/*/log4j.properties
!gradle/wrapper/gradle-wrapper.properties
dist/*
build/*
classes/*
javadocs/*
tripleOutput/*
.gradle
jetty-env.xml
biscicol-fims.ipr
biscicol-fims.iws
src/main/web/WEB-INF/web.xml
out
bin
